<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="utf-8">
		<title>
			Powerhang
		</title>
		<meta name="description" content="Powerhang">
		<meta name="viewport" content="width=device-width"><!-- <link rel="stylesheet" href="css/reset.css" type="text/css">
		<link rel="stylesheet" href="css/styles.css" type="text/css"> -->
	</head>
	<body>
		<div class="well" ng-app="chat" ng-controller="Chat">
			<div ng-cloak="" ng-repeat="plan in plans">
				<em>Plan:</em> {{plan.plan}}
			</div><br>
			<div ng-cloak="" ng-repeat="message in messages">
				<em>{{message.author}}:</em> {{message.message}} <sub>{{message.timestamp | date:'@ h:mma'}}</sub>
			</div><br>
			<form class="form-inline">
				Your name: <input type="text" ng-model="username">
			</form>
			<form class="form-inline" ng-submit="addMessage()">
				<input type="text" ng-model="message" placeholder="Message..."> <button class="btn" type="submit"><i class="icon-reply">Send</i></button>
			</form>
		</div><script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js" type="text/javascript">
</script><script src="//cdn.firebase.com/v0/firebase.js" type="text/javascript">
</script><script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js" type="text/javascript">
</script><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script><script type="text/javascript" src="//www.parsecdn.com/js/parse-1.2.15.min.js">
</script><script type="text/javascript">
  Date.prototype.addHours= function(h) {
	this.setHours(this.getHours()+h);
	return this; }
	
	// prod
	// "jl1MlCQGY1yiXAxtGqQtCCAkv6muVqc6QIchuDCk", "dhlnHV9fr5WYNgrZ9Dm5sRrVzVjueduMKLOCf9q4"
	// dev 
	// "9NdM1Fwz4GCejnUmrqjXgif1xumuZXonJB8hfhsw", "3mYOBfja4LyFXU9EPWLYZrTgdCnxJGYww60is2Bi"
		Parse.initialize("jl1MlCQGY1yiXAxtGqQtCCAkv6muVqc6QIchuDCk", "dhlnHV9fr5WYNgrZ9Dm5sRrVzVjueduMKLOCf9q4");

		angular.module('chat', ['firebase']).controller('Chat', ['$scope', '$firebase',
		function($scope, $firebase) {
			
		var planref = new Firebase('https://hangglider.firebaseio.com/planv2');
		$scope.plans = $firebase(planref.limit(1));
		
		var ref = new Firebase('https://hangglider.firebaseio.com/chatv3'); //TODO: http://stackoverflow.com/questions/17876439/configuration-file-in-angularjs

		$scope.messages = $firebase(ref.limit(50));
		$scope.username = 'True' + Math.floor(Math.random()*101);
		$scope.addMessage = function() {
		var chatText = $scope.message;
		var newChatRef = ref.push();
		newChatRef.set({
		  author: $scope.username, message: $scope.message, timestamp: Firebase.ServerValue.TIMESTAMP,
		});
		$scope.message = "";
		ref.once('value', function(snapshot) {
			Parse.Push.send({
			  channels: [ "Chats" ],
			  expiration_time: new Date().addHours(3),
			  data: {
				action: "com.dth.CHAT_MESSAGE",
				username: $scope.username,
				chat: chatText
			  }
			}, {
			  success: function() {
				// Push was successful
			  },
			  error: function(error) {
				console.log ('error in push');
				// Don't care
			  }
			});
		})
		}}]);
		</script>
	</body>
</html>
